#wrapper{
	width:90%;
	margin:0 auto;
}

#header{
	width:100%;
	border:5px solid red;
}

#main{
	height:50%;
	width:100%;
	border: 5px solid blue;
}

.sub-heading{
	text-decoration:underline;
	font-size:1.4em;
	margin:0 auto;
}

#bottom{
	width:100%;
	border:5px solid green;
	text-align:center;
}

.number_box{
	transition-duration: 2s;

	display: table-cell; 
	width:50px;
	height:50px;
	margin: 10px 20px;
	text-align:center;
    vertical-align:middle;
}

.number{
	font-size: 1.8em;
}

button:disabled {
  border: 3px solid #66c;
  opacity: 0.5;
}
